<div class="modal_lb">
    <img src='{{images.3.url}}' alt='{{name}}' class='img-card_image_small' />
    <div class='modal_wrap'>
        <div class='modal_img'>
            <img src='{{images.2.url}}' alt='{{name}}' class='img-card_image' />
        </div>
        <div class="modal_content">
            <div class='modal-container'>
                <h2 class='modal-title'>INFO</h2>
                {{#if info}}
                <p class='modal_text info'>{{info}}</p>
                {{else}}
                <p class='modal_text'>No Information</p>
                {{/if}}
            </div>
            <div class='modal-container'>
                <h2 class='modal-title'>WHEN</h2>
                <p class='modal_text'>{{dates.start.localDate}}</p>
                <p class='modal_text'>{{dates.start.localTime}} ({{dates.timezone}})</p>
            </div>
            <div class='modal-container'>
                <h2 class='modal-title'>WHERE</h2>
                <p class='modal_text'>{{dates.timezone}}</p>
                <p class='modal_text'>{{_embedded.venues.0.address.line1}}</p>
            </div>
            <div class='modal-container'>
                <h2 class='modal-title'>WHO</h2>
                <p class='modal_text'>{{name}}</p>
            </div>
            <div class='modal-container'>
                <h2 class='modal-title'>PRICES</h2>
                <p class='modal_text wrap_price'>
                    <span class='material-icons modal_icon'>qr_code</span>
                    Standart {{priceRanges.0.min}}-{{priceRanges.0.max}} {{priceRanges.0.currency}}
                </p>
                <form class="modal_link_btn" action="{{url}}" method="GET" target="_blank" rel="noopener noreferrer">
                    <button type='submit' class='modal_buy_btn'>BUY TICKETS</button>
                </form>
                <p class='modal_text wrap_price'>
                    <span class='material-icons modal_icon'>qr_code</span>
                    VIP {{priceRanges.0.min}}-{{priceRanges.0.max}} {{priceRanges.0.currency}}
                </p>
                <form class="modal_link_btn" action="{{url}}" method="GET" target="_blank" rel="noopener noreferrer">
                    <button type='submit' class='modal_buy_btn'>BUY TICKETS</button>
                </form>
            </div>
        </div>
      <button type='button' class='modal_more_button'>MORE FROM THIS AUTHOR</button>
    </div>

</div>

